* {
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.hero{
    height:100vh;
    background-image: url(/pic.jpg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.hero .navbar{
    display: flex;
    justify-content: space-between;
    height:80px;
    background-color: transparent;
}
.hero .navbar h1{
color: aliceblue;
}
.hero .navbar nav ul{
    display: flex;
    list-style: none;
    gap:20px;
    margin-right: 20px;
    
}
.hero .navbar nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
} 
.hero .navbar nav ul li a:hover {
    background-color:black;
    color:plum;
    border-bottom:5px solid green ;
}
span{
    color: brown;
}
.hero .content {
    width: 100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.hero .content h1,
.hero .content p{
    color:azure;
}
.hero .content h1{
    font-size: 55px;
    letter-spacing: 10px;
}
.hero .content p{
    font-size: 30px;
    letter-spacing: 5px;
}
.mybtn{
    text-decoration: none;
    color:aliceblue;
    width:140px;
    background-color: green;
    text-align:center;
    padding:8px;
    font-size:23px;
}
.hero::before{
    content:'';
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
}
.hero *{
    z-index:20;
}
/* about section */
.about-section h1{
    text-align: center;
    font-size: 25px;
    font-style: italic;
}
.about-section .about-content{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    margin:0px 30px;
    padding-bottom:50px;
}
.about-section .about-content img{
    width:400px;
    height:400px;
}
/* blog section */
.blog-section h1{
    color:crimson;
    text-transform: capitalize;
}
.bolg-section .blog-content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:10px 30px;
    gap:28px;

}
.blog-section .blog-content img{
    height:300px;
    width:400px;
}





